.header {
   height:120px;   
    display: grid;    
    grid-template-columns: 20% 80% 20%;
    align-items: center;
    justify-content: space-between;
    
    
  }
  .leftsectionheader {
    background-image: url('../assets/imagenes/logosolo.png')  ;
    background-size: contain;
    width: 100%;
    height: 100%;
    grid-column: initial;
    position: center;    
    height: 110px;
    background-repeat: no-repeat;
    display: grid;  
    
  }
  
  .centerHeader {
   display:grid;
   align-items: center;
   margin-left: 100px;
   justify-content: space-between;
   
  }
  
 
  .rightsectionHeader{
    display: grid;
    align-items: center;
    margin-left: 100px;
    justify-content: space-between;

  }
 


  
@media screen and (min-width: 600px) {
 
  
}


  
  