.header {
   height:120px;   
    display: grid;    
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    background-color: #f3d4d4;
  
    
    
  }
  .leftsectionheader {
    background-image: url('../assets/imagenes/logocompleto.png')  ;
    background-size: contain;
    align-items: center;
    width: 150%;
    height: 150%;
    
    grid-column: initial;
    position: center;     
    ;
    background-repeat: no-repeat;
    display: grid;  
    
  }
  
  .centerHeader {
    display:grid;
    align-items: center;
    
    justify-content: center;
    
   }
  
 
  .rightsectionHeader{
    display: grid;
    align-items: initial ;   
    
  }
 
 


  
@media screen and (min-width: 600px) {
 
  
}


  
  