.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.centered-image {
  display: block;
  width: 100%; 
  height: 800px; 
  object-fit: cover; 
}