.mainindex{
    grid-template-rows: auto auto ;
     background-color: #f4f3f3;
     margin-top: 180px; 
   
     
     
   }
   .firstsection {
    align-items: center;     
     justify-content: center;
     display: grid;  
     
   }
   
   .secondsection {
     display:grid;
     align-items: center;     
     justify-content: center;
     padding: 200px;     
    }   
  
   
  